<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<meta name="description" content="基于webpack的前端工程化开发解决方案探索"/>
	<!--
        描述：head中无需再引入css以及facicon，webpack将根据入口JS文件的要求自动实现按需加载或者生成style标签
    -->
</head>
<body>
	<div class="g-hd"></div>
	<div class="g-bd">
		<input type="button" value="弹窗" class="btn">
		<p class="img">
			<img src="../img/4.png" alt="">
		</p>
	</div>
	<div class="g-ft"></div>
	<!--
        描述：body中同样无需单独引入JS文件，webpack会根据入口JS文件自动实现按需加载或者生成script标签，还可以生成对应的hash值
    -->
</body>
</html>